{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div dir="rtl">
    <!-- Search -->
    <div class="catagory_area ">
<div class="container " style="margin-top: 10rem">
            <div class=" single_text">
                <h2>احجز مع
                    أفضل دكتور في مصر</h2>
                <h3>احجز اونلاين او كلم  ١٧٧٥۸</h3>
                <h4>١٦٠٠٠ دكتور -٤٠٠٠ استاذ واستشاري - اكثر من ۲٠ تخصص</h4>
                <br>
            </div>
        </div>
    </div>
    <!-- endsearch -->

<div class="job_details_area">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="job_details_header">
                <div class="single_jobs white-bg d-flex justify-content-between">
                    <div class="jobs_left d-flex align-items-center">
                      <div >
                        {% if doctor.image %}
                              <img  src="{{doctor.image.url }}" alt="" width="100" height="100">
                        {% else %}
                              <img  src="{% static 'static_file/img/default.png' %}" alt="" width="100" height="100">
                        {% endif %}

                      </div>
                        <div class="jobs_conetent">
                            <a href="#" ><h4>{{ doctor.user.first_name }} {{ doctor.user.last_name }}</h4></a>
                            <div class="links_locat d-flex align-items-center">
                                <div class="location">
                                    <p> <i class="fa fa-map-marker"></i>{{doctor.address}}</p>
                                </div>
                                <div class="location">
                                    <p> <i class="fa fa-clock-o"></i>وقت الانتظار {{doctor.Waiting_time}} ساعه</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobs_right">
                        <div class="apply_now">
                            <a class="boxed-btn3" href="">حجز كشف</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="descript_wrap white-bg">
                <div class="single_wrapp">
                    <h3>نبذه عن الدكتور</h3>
                </div>
                <div class="white-card white-card-inner">
                    <div class="single_wrap" style="margin-top: 10px;">
                        <h4>معلومات عن الدكتور</h4>
                        <ul>
                            <p>{{ doctor.description  }}</p>
                        </ul>
                    </div>
                </div>
                <div class="white-card white-card-inner mt-4">
                    <div class="single_wrap" style="margin-top: 10px;">
                        <h4>التخصص</h4>
                        <ul>
                            <p>{{ doctor.Specialist_doctor  }}</p>
                        </ul>
                    </div>
                </div>

            </div>

    <!-- comments -->
    <div class="section-row">
        <div class="section-title">
            <h2 style="color: brown;">التعليقات ({{ comment_numbers }})</h2>
        </div>

        <div class="post-comments" >

            <!-- comment -->
            <div class="media mt-4">
                <div class="media-body ">
                    <div class="col-md-5">
                      {% if comments %}
                          {% for comment in comments %}
                            <div class="media-body">
                                <div class="media-heading">
                                    <h4>{{ comment.name }}</h4>
                                    <h3 class="time">{{ comment.comment_date|date:'d - m - Y' }}</h3>
                                </div>
                                <p>{{ comment.body }}</p>
                            </div>

                            <hr>

                          {% endfor %}
                      {% else %}
                      <div class="media-heading">
                          <h4>لا يوجد تعليقات حتى الأن ..</h4>
                      </div>
                      {% endif %}
                    </div>
                    <!-- /comment -->
                </div>
            </div>
            <!-- /comment -->

        </div>
    </div>
    <!-- /comments -->
    <div class="apply_job_form white-bg">
        <h4>إترك تعليقك</h4>
        <form method="POST" >
          {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="input_field">
                        {{ comment_form.name|as_crispy_field }}

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input_field">
                        {{ comment_form.email|as_crispy_field }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input_field">
                        {{ comment_form.body|as_crispy_field }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="submit_btn">
                        <button class="boxed-btn3 w-100" type="submit">تعليق</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
        </div>
        <div class="col-lg-4">
            <div class="job_sumary">
                <div class="summery_header">
                    <h3>معلومات عن الدكتور </h3>
                </div>
                <div class="job_content">
                    <ul>

                        <li> الكشف : <span style="color: blue;">{{ doctor.price }} جنيه مصري</span></li>
                        <li> رقم الهاتف  : <span style="color: blue;">{{ doctor.phone }}</span></li>
                        <li>عدد ساعات العمل : <span style="color: blue;">{{ doctor.working_hours }} ساعات</span></li>
                        <li>تاريخ ووقت الانضمام : <span style="color: blue;">{{ doctor.joined_at|date:'d - m - Y' }}</span></li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>


{% endblock %}
