{% load bootstrap4 %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% block post_content %}
  <div class="container mt-5 content-justify-center">
    <div class="col-md-6">
      <h4>Create New Post</h4>
      <form method="POST" action="#" id="postForm">
      	{% csrf_token %}
      	{% bootstrap_form form %}
      	{% buttons %}
      		<button type="submit" class="btn btn-primary btn-large">Post</button>
      	{% endbuttons %}
      </form>
    </div>
  </div>
{% endblock %}
